@import url('https://fonts.googleapis.com/css2?family=Delius&family=Handlee&family=Neucha&family=Style+Script&display=swap');

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  
::-webkit-scrollbar-track {
    background: #b8b8b6;
}

::-webkit-scrollbar-thumb {
    background: #757573;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #919191;
}

.navbar-brand img {
    border-radius: 50%;
    width: 50px;
}

.nav {
    z-index: 9999;
}

.navbar {
    background-color: #f0f0ed;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
    margin-right: 0;
    padding: 0 1em;
}

.navbar-nav {
    align-items: center;
    font-family: 'Handlee', sans-serif;
}

.navbar .navbar-nav .navlink {
    color: white;
    font-size: 1.1em;
    padding: 0.5 1em;
}

.navbar-toggler-icon {
    border: transparent;
    border: 0;
}

.custom-toggler .navbar-toggler-icon {
    border: 0;
}

@media (max-width: 768px) {
    .navbar-brand {
      top: 10px;
    }
    .custom-toggler.navbar-toggler {
      border: none;
    }
  
    .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
    }
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 70px;
}

.custom-section {
    padding-top: 70px;
}

.custom-card {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .7);
    backdrop-filter: blur(20px);
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    margin-bottom: 40px;
}

.carousel-inner {
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
}

.disclaimer-text {
    font-size: 11px;
    color: gray;
    font-style: italic;
}

.text-justify {
    text-align: justify;
}

.about-img {
    background-image: url('/static/img/pic-2.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
}

.footer-text {
    font-size: 12px;
    color: gray;
}

.footer-text a {
    color: gray;
    text-decoration: none;
}

.banner-image {
    max-width: 100%;
    height: auto;
    width: auto\9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

body > div > div h1 {
    font-family: 'Style Script', sans-serif;
    font-size: 3em;
}

body > div > div h3 {
    font-family: 'Helvetica', sans-serif;
    font-size: 1em;
    font-style: italic;
}

h5 {
    font-family: 'Neucha', sans-serif;
    font-size: 1.5em;
    padding-bottom: 10px;
    padding-top: 10px;
}

ul > li {
    font-family: 'Delius', sans-serif;
}